In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://mzf23458:gvstk0j28v^3s5l2@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: mzf23458@BLUDB'

In [217]:
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='mzf23458'

 * ibm_db_sa://mzf23458:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]

In [3]:
%sql select colname from SYSCAT.COLUMNS where TABNAME = 'CHICAGO_PUBLIC_SCHOOLS'

 * ibm_db_sa://mzf23458:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('10th Grade PLAN (2009)',),
 ('10th Grade PLAN (2010)',),
 ('11th Grade Average ACT (2011)',),
 ('9th Grade EXPLORE (2009)',),
 ('9th Grade EXPLORE (2010)',),
 ('AVERAGE_STUDENT_ATTENDANCE',),
 ('Adequate_Yearly_Progress_Made_',),
 ('Average_Teacher_Attendance',),
 ('COLLEGE_ENROLLMENT',),
 ('COMMUNITY_AREA_NAME',),
 ('COMMUNITY_AREA_NUMBER',),
 ('CPS_Performance_Policy_Level',),
 ('CPS_Performance_Policy_Status',),
 ('City',),
 ('Collaborative_Name',),
 ('College_Eligibility__',),
 ('College_Enrollment_Rate__',),
 ('Elementary, Middle, or High School',),
 ('Environment_Icon',),
 ('Environment_Score',),
 ('Family_Involvement_Icon',),
 ('Family_Involvement_Score',),
 ('Freshman_on_Track_Rate__',),
 ('General_Services_Route',),
 ('Gr3_5_Grade_Level_Math__',),
 ('Gr3_5_Grade_Level_Read__',),
 ('Gr3_5_Keep_Pace_Math__',),
 ('Gr3_5_Keep_Pace_Read__',),
 ('Gr6_8_Grade_Level_Math__',),
 ('Gr6_8_Grade_Level_Read__',),
 ('Gr6_8_Keep_Pace_Math_',),
 ('Gr6_8_Keep_Pace_Read__',),
 ('Gr_8_Explore_Math__',),
 ('Gr_8_Explore_Read__',),
 ('Graduation_Rate__',),
 ('HEALTHY_SCHOOL_CERTIFIED',),
 ('ISAT_Exceeding_Math__',),
 ('ISAT_Exceeding_Reading__',),
 ('ISAT_Value_Add_Color_Math',),
 ('ISAT_Value_Add_Color_Read',),
 ('ISAT_Value_Add_Math',),
 ('ISAT_Value_Add_Read',),
 ('Individualized_Education_Program_Compliance_Rate',),
 ('Instruction_Icon',),
 ('Instruction_Score',),
 ('Latitude',),
 ('Leaders_Icon',),
 ('Leaders_Score',),
 ('Link',),
 ('Location',),
 ('Longitude',),
 ('NAME_OF_SCHOOL',),
 ('Net_Change_EXPLORE_and_PLAN',),
 ('Net_Change_PLAN_and_ACT',),
 ('Network_Manager',),
 ('Parent_Engagement_Icon',),
 ('Parent_Engagement_Score',),
 ('Parent_Environment_Icon',),
 ('Parent_Environment_Score',),
 ('Phone_Number',),
 ('Pk_2_Literacy__',),
 ('Pk_2_Math__',),
 ('Police_District',),
 ('Rate_of_Misconducts__per_100_students_',),
 ('Safety_Icon',),
 ('Safety_Score',),
 ('School_ID',),
 ('State',),
 ('Street_Address',),
 ('Students_Passing__Algebra__',),
 ('Students_Taking__Algebra__',),
 ('Teachers_Icon',),
 ('Teachers_Score',),
 ('Track_Schedule',),
 ('Ward',),
 ('X_COORDINATE',),
 ('Y_COORDINATE',),
 ('ZIP_Code',)]

In [ ]:
#How many rows are in each dataset?

In [231]:
# Rows in Census Data (Socieconimic Indicators)
%sql select count(*) from CENSUS_DATA

 * ibm_db_sa://mzf23458:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('78'),)]

In [4]:
# Rows in Public Schools
%sql select count(*) from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://mzf23458:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('566'),)]

In [25]:
# Rows in Crime Data
%sql select count(*) from CHICAGO_CRIME_DATA

 * ibm_db_sa://mzf23458:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

In [221]:
#Find average college enrollments by community area

%sql select "COMMUNITY_AREA_NAME", avg("COLLEGE_ENROLLMENT") as Average_enrollment \
from CHICAGO_PUBLIC_SCHOOLS group by "COMMUNITY_AREA_NAME" limit 5

 * ibm_db_sa://mzf23458:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('ALBANY PARK', Decimal('858.000000')),
 ('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('ARMOUR SQUARE', Decimal('486.000000')),
 ('ASHBURN', Decimal('810.375000')),
 ('AUBURN GRESHAM', Decimal('417.500000'))]

In [5]:
%sql select colname from SYSCAT.COLUMNS where TABNAME = 'CENSUS_DATA'

 * ibm_db_sa://mzf23458:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('COMMUNITY_AREA_NAME',),
 ('COMMUNITY_AREA_NUMBER',),
 ('HARDSHIP_INDEX',),
 ('PERCENT_AGED_16__UNEMPLOYED',),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA',),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64',),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY',),
 ('PERCENT_OF_HOUSING_CROWDED',),
 ('PER_CAPITA_INCOME',)]

In [53]:
#Find the number of schools that are healthy school certified
%sql select count(HEALTHY_SCHOOL_CERTIFIED) as No_of_healthy_schools_certified \
from CHICAGO_PUBLIC_SCHOOLS where HEALTHY_SCHOOL_CERTIFIED = 'Yes'

 * ibm_db_sa://mzf23458:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('16'),)]

In [6]:
# How many observations have a Location Description value of GAS STATION

%sql select count(LOCATION_DESCRIPTION) as no_of_gas_stations \
from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION = 'GAS STATION'

 * ibm_db_sa://mzf23458:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('6'),)]

In [7]:
# Retrieve a list of the top 10 community areas which have most number of schools and sorted in descending order

%sql select COMMUNITY_AREA_NAME, count(*) as no_of_schools from CHICAGO_PUBLIC_SCHOOLS \
group by COMMUNITY_AREA_NAME \
order by no_of_schools desc limit 10

 * ibm_db_sa://mzf23458:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('AUSTIN', Decimal('23')),
 ('SOUTH LAWNDALE', Decimal('22')),
 ('WEST TOWN', Decimal('20')),
 ('ENGLEWOOD', Decimal('17')),
 ('NEAR WEST SIDE', Decimal('16')),
 ('NORTH LAWNDALE', Decimal('16')),
 ('EAST GARFIELD PARK', Decimal('13')),
 ('ROSELAND', Decimal('13')),
 ('NEW CITY', Decimal('13')),
 ('HUMBOLDT PARK', Decimal('13'))]

In [107]:
# How many observations have value MOTOR VEHICLE THEFT in the Primary Type variable 
#(this is the number of crimes related to Motor vehicles)¶

%sql select count(PRIMARY_TYPE) as no_of_motor_vehicles_thefts \
from CHICAGO_CRIME_DATA where PRIMARY_TYPE = 'MOTOR VEHICLE THEFT'

 * ibm_db_sa://mzf23458:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('24'),)]

In [ ]:
#%sql select COMMUNITY_AREA_NAME,HARDSHIP_INDEX #AVERAGE_STUDENT_ATTENDANCE 
from CENSUS_DATA#
#INNER JOIN CHICAGO_PUBLIC_SCHOOLS as S 
#on C.COMMUNITY_AREA_NAME=S.COMMUNITY_AREA_NAME

In [46]:
# test
%sql select SL.COMMUNITY_AREA_NUMBER, SL.COMMUNITY_AREA_NAME, CE.HARDSHIP_INDEX, SL.AVERAGE_STUDENT_ATTENDANCE \
from CHICAGO_PUBLIC_SCHOOLS as SL \
INNER JOIN CENSUS_DATA as CE on SL.COMMUNITY_AREA_NUMBER=CE.COMMUNITY_AREA_NUMBER and CE.HARDSHIP_INDEX ='96' limit 5

 * ibm_db_sa://mzf23458:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(30, 'SOUTH LAWNDALE', 96, '95.30%'),
 (30, 'SOUTH LAWNDALE', 96, '95.90%'),
 (30, 'SOUTH LAWNDALE', 96, '94.70%'),
 (30, 'SOUTH LAWNDALE', 96, '86.10%'),
 (30, 'SOUTH LAWNDALE', 96, '95.80%')]

In [54]:
#Use INNER JOIN to find the MINIMUM (i.e. lowest) “Average Student Attendance” 
#for the community area where hardship is 96.

%sql select SL.COMMUNITY_AREA_NUMBER, SL.COMMUNITY_AREA_NAME, CE.HARDSHIP_INDEX, \
min(SL.AVERAGE_STUDENT_ATTENDANCE) as min_student_attendance \
from CHICAGO_PUBLIC_SCHOOLS as SL \
INNER JOIN CENSUS_DATA as CE on SL.COMMUNITY_AREA_NUMBER=CE.COMMUNITY_AREA_NUMBER and CE.HARDSHIP_INDEX ='96' \
group by SL.COMMUNITY_AREA_NUMBER, SL.COMMUNITY_AREA_NAME, CE.HARDSHIP_INDEX

 * ibm_db_sa://mzf23458:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(30, 'SOUTH LAWNDALE', 96, '86.10%')]

In [45]:
%sql select SL.COMMUNITY_AREA_NAME, CE.HARDSHIP_INDEX, min(SL.AVERAGE_STUDENT_ATTENDANCE) \
from CHICAGO_PUBLIC_SCHOOLS as SL \
INNER JOIN CENSUS_DATA as CE on SL.COMMUNITY_AREA_NAME=CE.COMMUNITY_AREA_NAME and CE.HARDSHIP_INDEX ='96' \
group by SL.COMMUNITY_AREA_NAME, CE.HARDSHIP_INDEX

 * ibm_db_sa://mzf23458:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]

In [ ]:
%sql select min(CHICAGO_PUBLIC_SCHOOLS.AVERAGE_STUDENT_ATTENDANCE)

In [ ]:

#Use INNER JOIN to find the MINIMUM (i.e. lowest) “Average Student Attendance” 
#for the community area where hardship is 96.

In [212]:
%sql select COMMUNITY_AREA_NAME, MIN("COLLEGE_ENROLLMENT") as Average_enrollment \
from CHICAGO_PUBLIC_SCHOOLS group by COMMUNITY_AREA_NAME

 * ibm_db_sa://mzf23458:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('ALBANY PARK', 266),
 ('ARCHER HEIGHTS', 1503),
 ('ARMOUR SQUARE', 302),
 ('ASHBURN', 243),
 ('AUBURN GRESHAM', 237),
 ('AUSTIN', 93),
 ('AVALON PARK', 291),
 ('AVONDALE', 644),
 ('BELMONT CRAGIN', 634),
 ('BEVERLY', 274),
 ('BRIDGEPORT', 283),
 ('BRIGHTON PARK', 510),
 ('BURNSIDE', 549),
 ('CALUMET HEIGHTS', 26),
 ('CHATHAM', 199),
 ('CHICAGO LAWN', 531),
 ('CLEARING', 137),
 ('DOUGLAS', 125),
 ('DUNNING', 502),
 ('EAST GARFIELD PARK', 194),
 ('EAST SIDE', 632),
 ('EDGEWATER', 423),
 ('EDISON PARK', 260),
 ('ENGLEWOOD', 44),
 ('FOREST GLEN', 414),
 ('FULLER PARK', 224),
 ('GAGE PARK', 279),
 ('GARFIELD RIDGE', 364),
 ('GRAND BOULEVARD', 241),
 ('GREATER GRAND CROSSING', 182),
 ('HEGEWISCH', 330),
 ('HERMOSA', 800),
 ('HUMBOLDT PARK', 349),
 ('HYDE PARK', 340),
 ('IRVING PARK', 363),
 ('JEFFERSON PARK', 574),
 ('KENWOOD', 112),
 ('LAKE VIEW', 257),
 ('LINCOLN PARK', 240),
 ('LINCOLN SQUARE', 451),
 ('LOGAN SQUARE', 352),
 ('LOOP', 871),
 ('LOWER WEST SIDE', 286),
 ('MCKINLEY PARK', 211),
 ('MONTCLARE', 1317),
 ('MORGAN PARK', 204),
 ('MOUNT GREENWOOD', 245),
 ('NEAR NORTH SIDE', 242),
 ('NEAR SOUTH SIDE', 137),
 ('NEAR WEST SIDE', 21),
 ('NEW CITY', 357),
 ('NORTH CENTER', 200),
 ('NORTH LAWNDALE', 48),
 ('NORTH PARK', 298),
 ('NORWOOD PARK', 160),
 ('OAKLAND', 140),
 ('OHARE', 786),
 ('PORTAGE PARK', 203),
 ('PULLMAN', 185),
 ('RIVERDALE', 184),
 ('ROGERS PARK', 375),
 ('ROSELAND', 233),
 ('SOUTH CHICAGO', 435),
 ('SOUTH DEERING', 286),
 ('SOUTH LAWNDALE', 130),
 ('SOUTH SHORE', 238),
 ('UPTOWN', 280),
 ('WASHINGTON HEIGHTS', 246),
 ('WASHINGTON PARK', 244),
 ('WEST ELSDON', 967),
 ('WEST ENGLEWOOD', 201),
 ('WEST GARFIELD PARK', 245),
 ('WEST LAWN', 830),
 ('WEST PULLMAN', 138),
 ('WEST RIDGE', 289),
 ('WEST TOWN', 91),
 ('WOODLAWN', 238)]

In [ ]:
 # Hint 2: Although not required for the solution, if your select clause has additional columns like "Community Area Name" you will need to use the GROUP BY clause.E